@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    font-family: 'Roboto', sans-serif;
    background: #524e4e;
}

.mat-card-header-text {
    margin-left: 0px !important;
}

// Map styles
#map {
    height: 100%;
  }