<div fxLayoutAlign="center start">
    <mat-card fxFlex="60">
        <!-- Header -->
        <mat-card-header fxLayoutAlign="center center" style="padding-bottom: 8px;">
            <div><img style="width: 150px; height: 150px;" src="../../assets/EMS-Logo.png"></div>
        </mat-card-header>

        <!-- Login Form -->
        <mat-card-content>
            <form [formGroup]="loginForm" novalidate>
                <!-- Username Input -->
                <div id="name-div">
                    <mat-form-field style="width: 100%">
                        <input matInput formControlName="username" placeholder="Username" ng-required>
                    </mat-form-field>
                </div>

                <!-- Password Input -->
                <div id="password-div">
                    <mat-form-field style="width: 100%">
                        <input matInput formControlName="password" type="password" placeholder="Password" ng-required>
                    </mat-form-field>
                </div>
            </form>

            <!-- Footer -->
            <div fxLayoutAlign="center center">
                <button mat-button class="create-dispatcher-button" [disabled]="!loginForm.valid" (click)="onSubmit(); reset()">Login</button>
            </div>

            <div fxLayoutAlign="center center">
                <a (click)="register()">New User?</a>
            </div>

            <div *ngIf="passwordWrong" class="error" fxLayoutAlign="center start" style="margin-top: 8px;">The password was entered incorrectly.</div>
            <div *ngIf="usernameWrong" class="error" fxLayoutAlign="center start" style="margin-top: 8px;">The username was entered incorrectly.</div>
        </mat-card-content>
    </mat-card>
</div>