<!-- Table -->
<div class="example-container">
    <!-- Filter  style=mat-elevation-z4 -->
    <!-- <div class="example-header">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter cases">
        </mat-form-field>
    </div> -->

    <!-- Columns -->
    <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="caseId">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Respondee Name Column -->
        <ng-container matColumnDef="respondeeName">
            <mat-header-cell *matHeaderCellDef> Patient Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.patient_name}} </mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.location}}
            </mat-cell>
        </ng-container>

        <!-- Notes Column -->
        <ng-container matColumnDef="notes">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row" fxLayoutAlign="end center">
                <div class="click" data-toggle="modal" data-target="#myModal" (click)="setSource(row); modal = true;">
                    <button mat-button style="border: 1pt solid gray;">Notes</button>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" *ngIf="modal" style="min-height: 400px;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <!-- Header -->
            <div fxLayout="row">
                <div fxFlex="90">
                    <h2>Case Notes</h2>
                </div>
                <div fxFlex="10">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            </div>

            <!-- Body -->
            <div style="margin-top: 8px;">
                <!-- Address Input -->
                <div *ngIf="!existingResponder">
                    No responders have left notes for this case.
                </div>
                <div *ngIf="existingResponder" style="border: 0.75pt gray solid;">
                    <div style="background-color: darkgray;">
                        <div class="content" fxFlex="50" fxLayoutAlign="start start">
                            <h3>Responder</h3>
                        </div>
                        <div class="content" fxFlex="50" fxLayoutAlign="start start">
                            <h3>Notes</h3>
                        </div>
                    </div>
                    <div *ngFor="let responder of responders; let i = index" class="table-data-row">
                        <!-- Responder Name -->
                        <div class="content" fxFlex="50">{{responder}}</div>
                        <!-- Responder Notes -->
                        <div class="content" fxFlex="50" fxLayoutWrap>{{responder_notes[i]}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>