<!-- Table -->
<div class="example-container">
    <!-- Filter  style=mat-elevation-z4 -->
    <!-- <div class="example-header">
        <mat-form-field floatPlaceholder="never">
            <input matInput #filter placeholder="Filter cases">
        </mat-form-field>
    </div> -->

    <!-- Columns -->
    <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container matColumnDef="caseId">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Respondee Name Column -->
        <ng-container matColumnDef="respondeeName">
            <mat-header-cell *matHeaderCellDef> Respondee Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.respondee_name}} </mat-cell>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <mat-header-cell *matHeaderCellDef> Location </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.location}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>